* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fbfbfb;
    box-shadow: 0 0 5px #1e1e1e52;
}

.header__navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #eaeaea;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header__navegacao__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 35%;

}

.header__navegacao__links__item {
    margin-right: 10px;
}

.header__navegacao__links__item a {
    color: black;
}

.header__navegacao__links__item a:hover {
    color: #222222;
    text-shadow: 0 0 3px antiquewhite;
}

.header__navegacao__img {
    background-image: url('img/mz_principal.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navegacao__img__txt {
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-shadow: 0 0 10px black;
}

.main__section {
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main__section__marco_zero {
    margin-top: 25px;
}

.main__section h3 {

    margin-bottom: 20px;
}

.main__section p {
    line-height: 1.4;
    text-align: justify;
    margin-bottom: 10px;
}

.main__section iframe {
    width: 100%
}

.main__section blockquote {
    font-style: italic;
    padding: 15px;
}

.main__section blockquote::before {
    content: '"';
}

.main__section blockquote::after {
    content: '"';
}

.main__section__galeria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.main__section__galeria img {
    width: 45%;
    height: 300px;
    box-shadow: 3px 3px 10px black;
    transition: all .4s;
    margin-bottom: 20px;
}

.main__section__galeria img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 25px;
    color: white;
    background-color: black;
    font-size: .7em;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}